body {
    background-color: rgb(255, 0, 0);
    margin: 0;
}
.main-container{
    border: 1px solid rgb(252, 101, 101);
    height: 100px;
    flex-direction: column;
}
h1 {
    font-style: ;
}
main {
    border: 2px solid rgb(71, 0, 0);
    /* height: 50%; */
    flex: 1;
    background-image: url();
}
section {
border: 2px solid blue;
    /* height: 50%; */
    flex: 1;
}